spring:
  jpa:
    open-in-view: false

---
spring:
  config:
    activate:
      on-profile: "local"
  datasource:
    url: jdbc:h2:mem:roadeye;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;MODE=MySQL
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create

---
spring:
  config:
    activate:
      on-profile: "dev"
  datasource:
    url: jdbc:mysql://${DB_HOST}:${DB_PORT:3306}/${DB_DATABASE:roadeye}
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:root}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: validate

---
spring:
  config:
    activate:
      on-profile: "test"
  datasource:
    url: jdbc:h2:mem:roadeye;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;MODE=MySQL
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create

---
spring:
  config:
    activate:
      on-profile: "prod"
  datasource:
    url: jdbc:mysql://${DB_HOST}:${DB_PORT:3306}/${DB_DATABASE:roadeye}
    username: ${DB_USERNAME:roadeye}
    password: ${DB_PASSWORD:}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: validate
